@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/button';
@import './components/card';
@import './components/no-data';
@import './components/header';
@import './components/table-area';
@import './components/search-widget';
@import './components/spinner';
@import './layout/main-layout';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}